<head>
	<title>Login</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
	<link rel="stylesheet" href="/css/main.css">
</head>

<div class="container">
    	<div class="row">
			<div class="col-md-6 col-md-offset-3">
				<div class="panel panel-login">
					<div class="panel-heading">
						<div class="row">
							<div class="col-xs-6">
								<a href="#" class="active" id="login-form-link">Login</a>
							</div>
							<div class="col-xs-6">
								<a href="#" id="register-form-link">Register</a>
							</div>
						</div>
						<hr>
					</div>
					<div class="panel-body">
						<div class="row">
							<div class="col-lg-12">
								<form id="login-form" method="post" role="form" style="display: block;">
									<div class="form-group">
										<input type="email" name="email" id="log-email" tabindex="1" class="form-control" placeholder="E-mail" value="" required>
									</div>
									<div class="form-group">
										<input type="password" name="password" id="log-password" tabindex="2" class="form-control" placeholder="Password" required>
									</div>
									<div class="form-group text-center">
										<input type="checkbox" tabindex="3" class="" name="remember" id="remember">
										<label for="remember"> Remember Me</label>
									</div>
									<div class="form-group">
										<div class="row">
											<div class="col-sm-6 col-sm-offset-3">
												<input type="submit" name="login-submit" id="login-submit" tabindex="4" class="form-control btn btn-login" value="Log In">
											</div>
										</div>
									</div>
									<div class="form-group">
										<div class="row">
											<div class="col-lg-12">
												<div class="text-center">
													<a href="http://phpoll.com/recover" tabindex="5" class="forgot-password">Forgot Password?</a>
												</div>
											</div>
										</div>
									</div>
								</form>
								<form id="register-form" action="http://phpoll.com/register/process" method="post" role="form" style="display: none;">
									<div class="form-group">
										<input type="email" name="email" id="reg-email" tabindex="1" class="form-control" placeholder="E-mail Address" value="" required>
									</div>
									<div class="form-group">
										<input type="text" name="firstName" id="firstName" tabindex="2" class="form-control" placeholder="First Name" required>
									</div>
									<div class="form-group">
										<input type="text" name="middleName" id="middleName" tabindex="2" class="form-control" placeholder="Middle Name">
									</div>
									<div class="form-group">
										<input type="text" name="lastName" id="lastName" tabindex="2" class="form-control" placeholder="Last Name" required>
									</div>
									<div class="form-group">
										<input type="password" name="password" id="reg-password" tabindex="2" class="form-control" placeholder="Password" required>
									</div>
									<div class="form-group">
										<input type="password" name="confirm-password" id="confirm-password" tabindex="2" class="form-control" placeholder="Confirm Password" required>
									</div>
									<div class="form-group">
										<div class="row">
											<div class="col-sm-6 col-sm-offset-3">
												<input type="submit" name="register-submit" id="register-submit" tabindex="4" class="form-control btn btn-register" value="Register Now">
											</div>
										</div>
									</div>
								</form>
								<form id="complete-form" method="post" role="form" style="display: none;">
									<div class="form-group">
										<div class="row">
											<div class="col-lg-12">
												<div class="text-center">
													<a href={{redirectURISuccess}} tabindex="5" id="complete-link">Click to Complete Account Linking</a>
												</div>
											</div>
										</div>
									</div>
								</form>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<script   src="https://code.jquery.com/jquery-3.1.1.min.js"   integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="   crossorigin="anonymous"></script>
	<script>
		$(function() {
		    $('#login-form-link').click(function(e) {
				$("#login-form").delay(100).fadeIn(100);
		 		$("#register-form").fadeOut(100);
				$('#register-form-link').removeClass('active');
				$(this).addClass('active');
				e.preventDefault();
			});
			$('#register-form-link').click(function(e) {
				$("#register-form").delay(100).fadeIn(100);
		 		$("#login-form").fadeOut(100);
				$('#login-form-link').removeClass('active');
				$(this).addClass('active');
				e.preventDefault();
			});

		});

		$('#login-form').submit(function(event) {
		    event.preventDefault(); // Stops browser navigationg

		    var dataObject = {};
		    dataObject['email'] = $("#log-email").val();
		    dataObject['password'] = $("#log-password").val();
		    dataObject['authCode'] = "{{{authCode}}}";
		    console.log(dataObject);
		    console.log("{{authCode}}");
		    console.log("{{{authCode}}}");

		    // build a json object, store in information to dataObject

		    $.post('/login', dataObject, function(res) {
		        console.log(res);
		        //$("a").attr("href", "{{redirectURISuccess}}");
		        $("#register-form").fadeOut(100);
		        $("#login-form").fadeOut(100);
		        $('#register-form-link').removeClass('active');
		        $('#login-form-link').removeClass('active');
		        $("#complete-form").delay(100).fadeIn(100);
		        $('#complete-form').addClass('active');
		        // on success execute this code
		    });
		});

		$('#register-form').submit(function(event) {
		    event.preventDefault(); // Stops browser navigationg

		    var dataObject = {};
		    dataObject['email'] = $("#reg-email").val();
		    dataObject['fName'] = $("#firstName").val();
		    dataObject['mName'] = $("#middleName").val();
		    dataObject['lName'] = $("#lastName").val();
		    dataObject['password'] = $("#reg-password").val();
		    dataObject['confirmPass'] = $("#confirm-password").val();
		    dataObject['authCode'] = "{{{authCode}}}";
		    console.log(dataObject);
		    // build a json object, store in information to dataObject
		    if (dataObject['password'] === dataObject['confirmPass']) {
		    	$.post('/register', dataObject, function(res) {
			        console.log(res);
			        //$("a").attr("href", "{{redirectURISuccess}}");
			        $("#register-form").fadeOut(100);
			        $("#login-form").fadeOut(100);
			        $('#register-form-link').removeClass('active');
			        $('#login-form-link').removeClass('active');
			        $("#complete-form").delay(100).fadeIn(100);
			        $('#complete-form').addClass('active');
			        // on success execute this code
			    });
		    }
		});
	</script>
